 
 
 .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  } 
  
  .card {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
  }
  
  .card .card_image {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .card .card_image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .card .card_title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: cadetblue;

    text-align: center;
    padding: 0px;
    
 
  }

  .des{
    padding: 0px;
    text-align: left;
    font-size: 10px;
   
    padding-top: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: sans-serif;
    color: cadetblue;
   }
  
  .card:hover {
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  /* FILTER */
  .product-filter {
    display: flex;
    text-align: center;
  }

  .product-filter h1 {
    flex-grow: 1;
  }

  .sort {
    display: flex;
  }

  .collection-sort {
    display: flex;
    flex-direction: column;
  }

  h1	{
    color: black;
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center;
    }
    

  #navBar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
    background-color: rgb(213, 227, 228);
  }

  .header-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cadetblue;
  }


/* button  */

button {
  color: black;
  background-color: cadetblue;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 15px 18px 30px 15px
  cursor: pointer;
  height:32px;
  font-size:14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
  }
  button:hover {
  background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  color: white;
  }
  button:active{
  background-color:#292d3e;
  background-size: 100%;
  transition: background 0s;
  }

  /* USER LOG IN */
  #user-container {
    text-align: center;
    font-size:40px;
  }
  
  /* text area */
  textarea {
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 400px;
    height: 100px;
    font: normal 14px 'Permanent Marker';
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
    position: relative;
    top: 30px;
   }
