 .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  } 
  
  .card {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
  }
  
  .card .card_image {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .card .card_image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .card .card_title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: cadetblue;

    text-align: center;
    padding: 10px;
 
  }

  .des{
    padding: 3px;
    text-align: left;
   
    padding-top: 10px;
          border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: sans-serif;
    color: cadetblue;
   }
  
  .card:hover {
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  /* FILTER */
  .product-filter {
    display: flex;
    text-align: center;
  }

  .product-filter h1 {
    flex-grow: 1;
  }

  .sort {
    display: flex;
  }

  .collection-sort {
    display: flex;
    flex-direction: column;
  }

  h1	{
    color: black;
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center;
    }
    

  #navBar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
    background-color: rgb(213, 227, 228);
  }

  .header-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cadetblue;
  }

  /* .card{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
   }

.image img{
 width: 100%;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 


}

.title{

 text-align: center;
 padding: 10px;
 
}

h1{
 font-size: 20px;
}

.des{
 padding: 3px;
 text-align: center;

 padding-top: 10px;
       border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
}
button{
 margin-top: 40px;
 margin-bottom: 10px;
 background-color: white;
 border: 1px solid black;
 border-radius: 5px;
 padding:10px;
}
button:hover{
 background-color: black;
 color: white;
 transition: .5s;
 cursor: pointer;
} */